{% load static %}
<!DOCTYPE html>
<html>
<body style="font-family: Arial; background:#f4f6f8; padding:20px;">

<div style="max-width:500px; margin:auto; background:white; padding:20px; border-radius:10px;">

    <!-- 🔵 LOGO -->
    <div style="text-align:center;">
        <img src="https://res.cloudinary.com/dfjgwzkqn/image/upload/v1777312496/logo_s5raqy.png" height="50">
        <h2 style="color:#2874f0;">NidhiRaj Ventures</h2>
    </div>

    <p>Hello,</p>

    <p>You requested to reset your password.</p>

    <p style="text-align:center;">
        <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
           style="background:#2874f0; color:white; padding:12px 20px; text-decoration:none; border-radius:5px;">
           Reset Password
        </a>
    </p>

    <p>If you didn’t request this, ignore this email.</p>

    <hr>

    <p style="font-size:12px; color:gray;">
        © NidhiRaj Ventures
    </p>

</div>

</body>
</html>